dist: bionic
language: generic
sudo: required
addons:
  apt:
    packages:
      - make
      - gcc
      - libpcre3-dev
      - libssl-dev
      - perl
      - build-essential
      - curl
      - zlib1g-dev
      - unzip
      - m4
      - libyaml-dev
      - valgrind
script:
  - bash build.sh
# before_deploy:
#   - git config --local user.name "ciiiii"
#   - git config --local user.email "allen.ccccnm@gmail.com"
#   - git tag 1.4.1-ubuntu18.04
deploy:
  provider: releases
  skip_cleanup: true
  token:
    secure: 03MFfUINjHAc6llOQcQ+611icNPMjYHwitsZapvu62gwsaL/Pj9a0xo3HWmC+rLLWPK3iVkPmO5owcQEpeFGwp0wTkq07kOiOaqjALXskXUV8v0sV0gy6xoIiJTQXVkN9v+g1r6oYA3VwuQZsvMylShhWflvbDg8sZbvkG/Mf/3Vmy0K2we2RVJID0mPlcQz72lc/DN3saFCB6+rrLp/AtodRIbJOpG8eSlmxzap+QhzC5rJfHFmzAFsDVbolppeOcVxHy7gzOUXSE5M5NBSHlV7gwD9vgNFDWBy5xDZHDRJ3Wm0YnZo262uSQh4MBoMfwaGhOv3Lapb5ARmUbDnxTdRTH7BEPVGNFtRyCyzNNRJZKcEZjHUN4w+7H3PkTdMdcvPPdm62TrQ5OtLBuKcv+OzfNSde/rGQzsKHfXWjT8wxvCm5Qvjg2lHhopqYcS4dRHlmqOtAT1pCZIZ1PQYeMXchQ0sYzGPs/348Tq8vSI75Go4DDckN8nhecyWr6otwgYWax3zD+wtkEhOfyoDsAx/5Or1kMO2fe0nkHVrbjETKZ/v2C9NjGBoFIJHi62NygDs9N2/+vBoVr4P9u48v6WpNPnyjwGNEvaW/43j7O3kp0esoeILEnuQMgPiUiNjgmL3yNK8VGigRgyRGcxCQCSL3TXS+6Tc0mLlSMMQOwg=
  file: kong-dep-ubuntu18.04.tgz
  on:
    repo: ciiiii/kong-pack
    tags: true
